[submodule "ptera-derapombe2-backend"]
	path = ptera-derapombe2-backend
	url = https://github.com/Kyutech-C3/ptera-derapombe2-backend 
	branch = main
[submodule "ptera-derapombe2-frontend"]
	path = ptera-derapombe2-frontend
	url = https://github.com/Kyutech-C3/ptera-derapombe2-frontend
	branch = main
[submodule "ptera-derapombe2-model"]
	path = ptera-derapombe2-model
	url = https://github.com/Kyutech-C3/ptera-derapombe2-model.git
	branch = main
[submodule "ptera-derapombe2-model-server"]
	path = ptera-derapombe2-model-server
	url = https://github.com/Kyutech-C3/ptera-derapombe2-model-server.git
